/* 폰트 로드 */
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fixedsys';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/Fixedsys.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 레트로 스타일 */
:root {
    --bg-color: #0b100c;       /* 어두운 배경색 */
    --accent-color: #01ff9d;    /* 밝은 강조색 / 입력창 배경 */
    --text-color: #01ff9d;      /* 메인 텍스트 / 픽셀 테두리 색상 */
    --grid-color: rgba(1, 255, 157, 0.08); /* 연한 격자무늬 색상 */
    --error-color: #ff4956;     /* 에러 메시지 텍스트 색상 */


    --pixel-border:
            0 -3px 0 0 var(--text-color),
            0 3px 0 0 var(--text-color),
            -3px 0 0 0 var(--text-color),
            3px 0 0 0 var(--text-color);

    --pixel-border-sm:
            0 -2px 0 0 var(--bg-color),
            0 2px 0 0 var(--bg-color),
            -2px 0 0 0 var(--bg-color),
            2px 0 0 0 var(--bg-color);
}

* {
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    font-family: 'DungGeunMo', 'Fixedsys', monospace, sans-serif;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    background-color: var(--bg-color);
    background-image:
            linear-gradient(var(--grid-color) 1px, transparent 1px),
            linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px; /* 격자 크기 조절 */
    color: var(--text-color);
    margin: 0;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

input, textarea, button, select {
    font-family: 'DungGeunMo', 'Fixedsys', monospace, sans-serif;
    -webkit-font-smoothing: none;
}

::-webkit-scrollbar {
    width: 12px;  /* 세로 스크롤바 두께 */
    height: 12px; /* 가로 스크롤바 두께 */
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: var(--accent-color);
    box-shadow: var(--pixel-border);
    color: var(--bg-color);
}

.header-flex h2 {
    letter-spacing: 2px;
    font-size: 1rem;
    margin: 0;
}

.header-flex span {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: 3px 6px;
    box-shadow: var(--pixel-border-sm);
}

/* 5. 픽셀 카드 (윈도우 창 스타일) */
.card {
    background-color: var(--bg-color);
    box-shadow: var(--pixel-border);
    padding: 35px;
    margin-bottom: 25px;
    position: relative;
}

.title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: 2px;
    border-bottom: 3px dashed var(--text-color);
    padding-bottom: 15px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: bold;
}

.form-group textarea{
    line-height: 1.5;
}

.form-control {
    width: 100%;
    padding: 12px 16px;
    background-color: var(--bg-color);
    border: none;
    box-shadow: var(--pixel-border);
    color: var(--text-color);
    font-size: 1rem;
    outline: none;
}

textarea.form-control {
    resize: vertical;
    min-height: 120px;
}

.error-text {
    font-size: 1rem;
    color: var(--error-color) !important;
    background-color: var(--bg-color);
    margin-top: 6px;
}


.btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 12px 16px;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-top: 8px;
    box-shadow: var(--pixel-border);
    transition: transform 0.05s ease;
}

.btn:active {
    transform: translate(2px, 2px);
}

.btn-primary {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.btn-primary:hover {
    background-color: #20e196;
}

.btn-outline {
    background-color: var(--text-color);
    color: var(--bg-color);
    margin-top: 10px;
    transition: transform 0.05s ease;
}

.btn-outline:active {
    transform: translate(2px, 2px);
}

.btn-outline:hover {
    background-color: #20e196;
}

.btn-sm {
    width: auto;
    padding: 4px 8px;
    font-size: 0.75rem;
    margin-top: 0;
}

.btn-danger-outline {
    background-color: var(--bg-color);
    color: var(--accent-color);
    border: 1px solid var(--bg-color);
    box-shadow: var(--pixel-border-sm);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(70%) sepia(99%) saturate(487%) hue-rotate(91deg) brightness(104%) contrast(101%);
    cursor: pointer;
    padding: 2px;
}

#diaryList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.empty-text {
    text-align: center;
    font-size: 1rem;
    opacity: 0.8;
}

.time-card{
    margin-right: 20px;
    width: 500px;
}

.diary-card {
    background-color: var(--bg-color);
    box-shadow: var(--pixel-border);
    padding: 35px;
    width: 500px;
    height: 560px;
    overflow-y: auto;
}

.diary-card h3 {
    margin: 0 0 6px 0;
    font-size: 1.2rem;
    border-bottom: 1px dashed var(--text-color);
    padding-bottom: 6px;
}

.diary-card p {
    margin: 8px 0;
    font-size: 1rem;
    line-height: 1.8;
    white-space: pre-wrap;
}

.diary-card small {
    display: block;
    margin-top: 10px;
    font-size: 0.7rem;
    text-align: right;
    opacity: 0.8;
}

.diary-item {
    box-shadow: var(--pixel-border);
    padding: 12px;
    margin-bottom: 10px;
}

.diary-item-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 0.8rem;
    border-bottom: 1px dashed var(--text-color);
}

.diary-item-content {
    padding-top: 10px ;
    font-size: 1rem;
    line-height: 1.6;
    color: white;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    width: 90%;
    max-width: 500px;
    box-shadow: var(--pixel-border);
    padding: 20px;
    border: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-title{
    font-size: 1.5rem;
    margin: 0;
}

.modal-date {
    font-size: 1rem;
    margin-bottom: -20px;
    opacity: 0.9;
}

.modal-text {
    background-color: var(--bg-color);
    color: white;
    padding: 12px;
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 1.2rem;
    margin-bottom: 15px;
    box-shadow: var(--pixel-border);
    white-space: pre-wrap;
}

.status-bar-container {
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    background-color: var(--bg-color);
    box-shadow: var(--pixel-border);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-display {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.time-label {
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 1px;
}

.time-value {
    color: #ffffff;
    letter-spacing: 2px;
}

.capsule-progress-wrapper {
    margin-top: 10px;
    padding-top: 8px;
    border-top: 1px dashed var(--text-color);
}

.progress-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin-bottom: 6px;
}

.pixel-bar-outer {
    width: 100%;
    height: 16px;
    background-color: #050806;
    box-shadow: var(--pixel-border-sm);
    padding: 2px;
    display: flex;
}

.pixel-bar-inner {
    height: 100%;
    background-color: var(--text-color);
    /* 픽셀 칸막이 무늬 */
    background-image: linear-gradient(90deg, var(--bg-color) 2px, transparent 2px);
    background-size: 10px 100%;
    transition: width 0.4s ease;
}

.btn-delete {
    background-color: var(--error-color);
    color: white;
    border: 1px solid var(--error-color);
    box-shadow: 0 -2px 0 0 var(--error-color), 0 2px 0 0 var(--error-color), -2px 0 0 0 var(--error-color), 2px 0 0 0 var(--error-color);}


.btn-delete:hover {
    background-color: #d02e39;
}